@charset 'utf-8';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

ul {
  list-style: none;
  display: flex;
  justify-content: end;
  height: 70px;
  width: 100%;
}

li {
  width: 170px;
  text-align: center;
}

li:hover {
  background-image: url(tim-mossholder-07uiqD9LS6U-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

a {
  text-decoration: none;
  color: rgb(16, 16, 16);
  font-size: 25px;
  font-weight: bold;
  line-height: 2.5;
  color:#48dbfb;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url(neom-NPDnHmYsl6Y-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

.main h1 {
  text-align: center;
  padding-top: 300px;
  font-size: 140px;
  color: aliceblue;
  text-shadow:
    0 0 5px #b700ff,
    0 0 10px #b700ff,
    0 0 15px #b700ff,
    0 0 20px #b700ff;
}


.hero {
  margin-top: 30px;
  height: 400px;
  overflow: hidden;
  background-image: url(david-gomez-ZyDq456v4_A-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


.hero>h1 {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 140px;
  background: linear-gradient(90deg, #a1c4fd, #c2e9fb, #fddb92, #d4fc79, #96e6a1, #a1c4fd);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 100px;
  background-position: center 45%;
  background-size: cover;
  animation: move  1s ease-in-out infinite ;
}

@keyframes move {

  0%,100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(30px);
  }
}

/* World */

.flex {
  max-width: 90%;
  margin: 0 auto;
}

.flex>h2 {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid {
  display: flex;
  width: 100% !important;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.grid:hover {
  scale: 1.1;
}

.content1 {
  padding: 15px;
}

.grid>img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.location {
  margin-top: 30px;
  height: 400px;
  overflow: hidden;
  background-image: url(dan-crile-a-tPJR77878-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.location>h1 {
  width: 100%;
  height: 100vh;
  font-size: 90px;
  color: #ddd;
  text-align: center;
  padding-top: 150px;
  animation: move 1s ease-in-out infinite;
}



.map {
  text-align: center;
  margin-top: 100px;
}

.normal-map {
  display: none;
}

.small-map {
  display: none;
}

.detail p {
  margin: 20px 0;
}

.map>button {
  padding: 10px 50px;
  border-radius: 30px;
  font-size: 20px;
  background: linear-gradient(to right, #d4e4cf 0%, #50edbe 70%, #16a473 100%);
}

.form-container {
  background: linear-gradient(
    to right,
    #ff6b6b,
    #feca57,
    #48dbfb,
    #ff9ff3,
    #ff6b6b
);
  background-size: 500% 100%;
  padding: 20px;
  border-radius: 10px;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: gradient 10s linear infinite;
}

@keyframes gradient {
  0%{
    background-position:0% 50%;
  }

  50%{
    background-position:100% 50%;
  }

  100%{
    background-position:0% 50%;
  }
}

.form-container>h2 {
  text-align: center;
  font-size: 60px;
  padding-top: 120px;
  color: #ccc;
}

form {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 800px;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

input,
textarea {
  max-width: 800px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #16a473;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #becbba;
}

footer h2 {
  font-size: medium;
  text-align: center;
  padding: 5px;
  background-color:black;
  color: white;
}

@media(max-width:800px) {

  .hero>h1 {
    line-height: 0.9;
  }

  .big-map {
    display: none;
  }

  .normal-map {
    display: inline-block;
  }

  .contents {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:426px) {

  a {
    font-size: 15px;
    line-height: 4.5;
  }

  .main h1 {
    font-size: 80px;
  }

  .hero>h1 {
    font-size: 50px;
  }

  .location>h1 {
    font-size: 50px;
  }

  .normal-map {
    display: none;
  }

  .small-map {
    display: inline-block;
  }

  .contents {
    grid-template-columns: repeat(1, 1fr);
  }
}