@charset 'utf-8';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

iframe{
  height:600px ;
  width: 100%;
  border:0;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

ul {
  list-style: none;
  display: flex;
  justify-content: end;
  height: 70px;
  width: 100%;
}

li {
  width: 170px;
  text-align: center;
  background-color: rgb(232, 245, 204);
}

li:nth-child(1) {
  border-radius: 0 0 0 20px;
}

li:hover {
  background-image: url("tim-mossholder-07uiqD9LS6U-unsplash.jpg");
  background-size: cover;
  background-position: center center;
}

a {
  text-decoration: none;
  color: rgb(16, 16, 16);
  font-size: 25px;
  font-weight: bold;
  line-height: 2.5;
  color:black;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("neom-NPDnHmYsl6Y-unsplash\ \(1\).jpg");
  background-size: cover;
  background-position: center center;
}

.main h1 {
  text-align: center;
  padding-top: 300px;
  font-size: 140px;
  color: aliceblue;
  text-shadow:
    0 0 5px #b700ff,
    0 0 10px #b700ff,
    0 0 15px #b700ff,
    0 0 20px #b700ff;
}


.hero {
  margin-top: 30px;
  height: 400px;
  overflow: hidden;
  background-image: url("david-gomez-ZyDq456v4_A-unsplash\ \(1\).jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


.hero>h1 {
  text-align: center;
  padding-top: 140px;
  background: linear-gradient(90deg, #a1c4fd, #c2e9fb, #fddb92, #d4fc79, #96e6a1, #a1c4fd);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 100px;
  background-position: center 45%;
  background-size: cover;
  animation: move  1s ease-in-out infinite ;
}

@keyframes move {

  0%,100%{
    transform: translateY(0);
  }

  50%{
    transform: translateY(30px);
  }
}

/* World */

.flex {
  max-width: 90%;
  margin: 0 auto;
}

.flex>h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px 0;
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.grid {
  display: flex;
  width: 100% ;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.grid:hover {
  scale: 1.1;
}

.content {
  padding: 15px;
}

.content h3{
  font-size: 1.5rem;
}

.content p{
  font-size: 1.2rem;
}

.grid>img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.location {
  margin-top: 30px;
  height: 400px;
  overflow: hidden;
  background-image: url(dan-crile-a-tPJR77878-unsplash\ \(1\).jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.location>h1 {
  font-size: 90px;
  color: #ddd;
  text-align: center;
  padding-top: 150px;
  animation: move 1s ease-in-out infinite;
}



.map {
  text-align: center;
  margin-top: 100px;
}

.normal-map {
  display: none;
}

.small-map {
  display: none;
}

.detail p {
  margin: 20px 0;
  font-size: 1.5rem;
}

.map>button {
  padding: 10px 50px;
  margin-bottom: 40px;
  border-radius: 30px;
  font-size: 20px;
  background: linear-gradient(to right, #d4e4cf 0%, #50edbe 70%, #16a473 100%);
}

.form-container {
  background:#96e6a1;
  background-size: 500% 100%;
  padding: 60px 0 100px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  animation: gradient 10s linear infinite;
}

@keyframes gradient {
  0%{
    background-position:0% 50%;
  }

  50%{
    background-position:100% 50%;
  }

  100%{
    background-position:0% 50%;
  }
}

.form-container>h2 {
  text-align: center;
  font-size: 60px; 
  color: #151414;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 800px;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

input,
textarea {
  max-width: 800px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #16a473;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #becbba;
}

footer h2 {
  font-size: medium;
  text-align: center;
  padding: 5px;
  background-color:black;
  color: white;
}

@media(max-width:800px) {

  
  .main h1{
    font-size: 5rem;
  }


  .hero>h1 {
    line-height: 0.9;
    font-size: 4rem;
  }

  .content-container6 {
    display: none;
  }



  .contents {
    grid-template-columns: repeat(2, 1fr);
  }


  .form-container h2{
    font-size: 3rem;
  }

  form{
    width: 80%;
  }

  
}

@media(max-width:426px) {

  iframe{
    height: 300px;
  }

  ul{
    opacity: 0.6;
  }

  a {
    font-size: 15px;
    line-height: 4.5;
  }

  .main h1 {
    font-size: 4rem;
  }

  .hero{
    height: 300px;
  }

  .hero>h1 {
    font-size: 50px;
    padding-top: 120px;
  }

  .location>h1 {
    font-size: 50px;
  }

  .big-map{
    display: none;
  }

  .normal-map {
    display: none;
  }

  .small-map {
    display: inline-block;
  }

  .flex{
    max-width: 80%;
  }
  .flex h2{
    font-size: 2rem;
  }

  .contents {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0;
  }

  .content h3{
    font-size: 1.3rem;
  }

  .content p{
    font-size: 1rem;
  }

  .grid>img {
    height: 250px;
    object-fit: cover;
  }

  .location{
    height: 300px;
  }

  .location h1{
    padding-top: 130px
  }

  .detail p{
    font-size: 1.2em;
  }

  .form-container>h2{
    font-size: 40px;
  }
}